@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800&display=swap");
.App {
	font-family: "Montserrat", sans-serif;
  background-color: rgb(15, 17, 22);
  color: white;
}


html, body, #root, #root>div {
  height: 100%;
}